name: Dev - Build & Deploy

on:
  push:
    branches: [ dev ]

jobs:
  build-and-deploy-dev:
    runs-on: [self-hosted, linux]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install backend dependencies
        run: |
          cd backend
          npm install --legacy-peer-deps

      - name: Make deploy script executable
        run: chmod +x ./scripts/deploy.sh


      - name: Deploy backend using PM2
        run: |
          ./backend/scripts/deploy.sh development
